<%= render partial: 'shared/header', locals: { room: @room } %>
<div class="mypage-main">
  <div class="mypage-wrap">
    <h1 class="mypage-header">ユーザーマイページ</h1>

    <div class="user-wrap">
      <div class="user-header">
        <h2 class="user-header-text">〇ユーザー情報</h2>
        <%= link_to "編集", edit_user_registration_path if current_user == @user %>
      </div>
      <div class="user-info-index">
        <div class="user-icon">
          <%= image_tag @user.icon.image_path, class: "user-mypage-icon" %>
        </div>
        <div class="user-info-text">
          <h3 class="mypage-user-nickname">
            <% if @user.nickname.present? %>
              ニックネーム： <%= @user.nickname %>
            <% else %>
              未設定
            <% end %>
          </h3>
          <h3 class="mypage-user-status-occupation">
            身分・職業： <%= @user.status.name %>・<%= @user.occupation.name if @user.occupation.present? %>
          </h3>
        </div>
      </div>
    </div>

    <h2 class="goal-wrap">
      目標：<%= @user.goal %>
    </h2>

    <div class="study-wrap">
      <h2 class="study-header">〇学習記録</h2>
      <div class="study-index">
        <ul class="study-list">
          <% if @studies.present? %>
            <% @studies.each do |study| %>
              <li><%= link_to study.title, study_path(study), class: "study-show" %></li>
            <% end %>
          <% else %>
            <div class="study-show">まだ学習記録はありません</div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
