<div class="room-user" id="user-<%= user.id || "unknown" %>">
  <div class="room-user-icon">
    <%= link_to(user_path(user), class: "user-mypage-link") do %>
      <span class="user-nickname"><%= user.nickname if user.nickname.present? %></span>
      <%= image_tag user.icon.image_path, class: "user-mypage-icon-btn" %>
    <% end %>
  </div>
  <div class="room-user-info">
    <%= user.status.name %>
    <% if user.occupation.id != 1 %>
      (<%= user.occupation.name %>)
    <% end %>
  </div>
  <div class="room-user-info">
    <% if user.studies.present? && user.studies.last.study_time.nil? %>
      <%= user.studies.last.title %>
    <% else %>
      準備中
    <% end %>
  </div>
</div>