<%= render partial: 'shared/header', locals: { room: @room } %>
<div class="room-users-index-main">
  <%= render partial: 'shared/sidebar', locals: { rooms: @rooms } %>
  <div class="room-users-wrap">
    <% @room.room_users.each do |room_user| %>
      <div class="user">
        <div class="user-icon">
          <%= link_to(user_path(room_user.user), class: "user-mypage-link") do %>
            <span class="user-nickname"><%= room_user.user.nickname %></span>
            <%= image_tag room_user.user.icon.image_path, class: "user-mypage-icon-btn" %>
            <% if room_user.user.nickname.present? %>
            <% end %>
          <% end %>
        </div>
        <div class="user-status-occupation">
          <%= room_user.user.status.name %>
          <% if room_user.user.occupation.present? %>
            (<%= room_user.user.occupation.name %>)
          <% end %>
        </div>
        <div class="user-study-title">
          <% if room_user.user.studies.present? %>
            <%= room_user.user.studies.last.title %>
          <% else %>
            準備中
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>