<div class="room-user <%= 'current-user' if room_user == current_user %>" id="user-<%= room_user.id || "unknown" %>">
  <div class="room-user-icon">
    <%= link_to(user_path(room_user), data: { turbo: false }, class: "user-mypage-link") do %>
      <span class="user-nickname"><%= room_user.nickname if room_user.nickname.present? %></span>
      <%= image_tag room_user.icon.image_path, class: "user-mypage-icon-btn" %>
    <% end %>
  </div>
  <div class="room-user-info">
    <%= room_user.status.name %>
    <% if room_user.occupation.id != 1 %>
      (<%= room_user.occupation.name %>)
    <% end %>
  </div>
  <div class="room-user-info">
    <% if room_user.studies.present? && room_user.studies.last.study_time.nil? %>
      <%= room_user.studies.last.title %>
    <% else %>
      準備中
    <% end %>
  </div>
</div>