<%= render 'shared/header' %>
  <%= hidden_field_tag 'room-id', @room.id, id: 'room-id' %>
  <div class="room-users-main">
    <div class="sidebar">
      <% @rooms.each do |room| %>
        <div class="room-name" id="room-<%= room.id %>">
          <%= link_to room.name, room_path(room), data: {turbo_frame: "room-users-wrap"} %>
        </div>
      <% end %>
    </div>
    <turbo-frame id="room-users-wrap">
      <div class="room-users-wrap">
        <%= render partial: 'shared/room_user', collection: @users %>
      </div>
    </turbo-frame>
  </div>
<div class="footer">
  <div class="study-title">
    <% if @study != nil && @study.study_time.nil? %>
      <span>学習タイトル：<%= @study.title %></span>
      <span>学習時間：<span id="time-display"></span>分</span>
    <% else %>
      新たな学習を始めましょう！
    <% end %>
  </div>
  <ul class="footer-nav">
    <% if @study != nil && @study.study_time.nil? %>
      <li><%= link_to "記録する", edit_study_path(@study), class: "nav-btn" %></li>
    <% else %>
      <li><%= link_to "学習開始", new_study_path, class: "nav-btn" %></li>
    <% end %>
  </ul>
</div>